<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Pagination</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    
        <div class="container">
            <select name="" id=""></select>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Título</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data de publicação</th>
                        <th scope="col">Autores</th>
                        <th scope="col">Categoria</th>
                    </tr>
                </thead>
                <tbody>
                    {% for livro in livros %}
                        <tr>
                            <td>{{ livro.title }}</td>
                            <td>{{ livro.description }}</td>
                            <td>{{ livro.date }}</td>
                            <td>
                              {% for autor in livro.authors.all %} 
                                {{ autor.name }}
                              {% endfor %}
                            </td>
                            <td>
                                {% for categoria in livro.categories.all %} 
                                  {{ categoria.name }}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
              {% if livros %}
                  <span class="step-link">
                      {% if livros.has_previous %}
                      <a href="?page={{ livros.previous_page_number }}">Anterior</a>
                      {% endif %}
      
                      <span class="current">
                          {{ livros.number }} de {{ livros.paginator.num_pages }}
                      </span>
      
                      {% if livros.has_next %}
                          <a href="?page={{ livros.next_page_number }}">Próxima</a>
                      {% endif %}
                  </span>
              {% endif %}
            </div>
        </div>
    </body>
</html>